{% extends 'base.html.twig' %}

{% block title %}
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<h1 class="display-4 fw-bold text-body-emphasis">{{ recipe.title }}</h1>

		<div class="overflow-hidden">
			<div class="container px-5">
				{% include "/partials/recipe/_displayImgRecipe.html.twig" %}
			</div>
			<div class="d-flex row">
				<p class="col text-nowrap">Temps de préparation :
					<span>{{recipe.preparationTime}}</span>
					<span>min.</span>
				</p>
				<p class="col text-nowrap">Temps de cuisson :
					{% if recipe.cookingTime %}
						<span>{{recipe.cookingTime}}
							min</span>
					{% else %}
						<span>pas de cuisson.</span>
					{% endif %}

				</p>
				<p class="col text-nowrap">Temps de repos :
					{% if recipe.restingTime %}
						<span>{{recipe.restingTime}}
							min</span>
					{% else %}
						<span>pas de temps de repos.</span>
					{% endif %}
				</p>
			</div>
		</div>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">{{recipe.decription|raw}}</p>
		</div>
		<h2 class="text-start">Les ingrédients :</h2>
		<div class="col-lg-6">
			<ul>
				{% for ingredient in recipe.ingredients %}
					<li class="text-start">{{ingredient}}</li>
				{% endfor %}
			</ul>
		</div>

		<h2 class="text-start">Les étapes :</h2>
		<p class="">{{recipe.steps|raw}}</p>

		<h2 class="text-start">Les régimes alimentaires compatibles :</h2>
		<div class="col-lg-6">
			<ul>
				{% for diet in recipe.diets %}
					<li class="text-start">{{diet}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
